@import "tailwindcss";

:root {
  --color-primary: #8bd3eb;
  --color-primary-hover: #b9e7f4;
  --color-primary-dark: #287fa5;

  --color-dark: #075985;
  --color-navy: #164e63;

  --color-background: #f8fcfe;
  --color-surface: #edf7fb;

  --color-text: #19384a;
  --color-text-light: #5c7482;

  --border-radius: 1.5rem;
  --max-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
}
