@import "tailwindcss";

:root {
  --color-primary: #78c8ea;
  --color-primary-hover: #a9e1f5;
  --color-primary-dark: #2478a6;

  --color-dark: #004ca9;
  --color-navy: #124d91;

  --color-background: #fbfdff;
  --color-surface: #eef5f9;

  --color-text: #1f3342;
  --color-text-light: #5e7180;

  --border-radius: 1.5rem;
  --max-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
}
